<!doctype html>

<head>
    <title>PokerPal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🃏</text></svg>">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
</head>

<body>
    <div class="page">
        <h1 class="header"><a href="/">PokerPal</a></h1>
        {% block body %}{% endblock %}
    </div>
</body>
