{% extends "layout.html" %}
{% block body %}
<div class="container">
    {% if last_username is defined %}
    <div class="error">
        The Venmo username is not valid, please try another username.
    </div>
    {% endif %}
    <form class="form" action="/login" method="post">
        <label for="venmo-username">Please enter your Venmo username:</label>
        <input autofocus type="text" id="venmo-username" name="venmo-username" value="{{ last_username }}" required>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
