{% extends "layout.html" %}
{% block body %}
<div class="container">
    {% if err %}
    <div class="error">
        {{ err }}
    </div>
    {% endif %}
    <form class="form" action="/login" method="post">
        {% if return_endpoint %}
        <input type="hidden" name="return" value="{{ return_endpoint }}">
        {% endif %}
        {% if return_game_id %}
        <input type="hidden" name="return_game_id" value="{{ return_game_id }}">
        {% endif %}
        {% if return_game_code %}
        <input type="hidden" name="return_game_code" value="{{ return_game_code }}">
        {% endif %}
        <label for="phone-number">Log in with your phone number:</label>
        <input autofocus type="tel" inputmode="tel" autocomplete="tel" id="phone-number" name="phone-number"
            value="{{ phone_number or '' }}" placeholder="(415) 555-0123" required>
        <div class="secondary">We'll text you a code. Message and data rates may apply.</div>
        <input type="submit" value="Send Code">
    </form>
</div>
{% endblock %}
