{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        Are you sure you want to dismiss the payment of {{ payment.amount_text() }}
        {% if payment.to_player_id == player.venmo_username %}
        from {{ payment.from_player_id }}
        {% else %}
        to {{ payment.to_player_id }}
        {% endif %}
        for <a href="/g/{{ payment.game_id }}/">game #{{ payment.game_id }}</a>?
    </div>
    <form class="form top-gap" action="/payment/dismiss/{{ payment.id }}" method="post">
        <div class="form-buttons">
            <input type="hidden" name="return-game" value="{{ game_id }}">
            <input type="hidden" name="confirmed" value="1">
            <input autofocus type="submit" value="Dismiss Payment">
            <a class="cancel-btn" href="{{ return_url }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
