{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        <h2>{{ game.lobby_name }}</h2>
    </div>
    <div>
        {% if err %}
        <div class="error">
            {{ err }}
        </div>
        {% endif %}
        <form action="/game/buyin" method="post">
            <label for="amount">How much would you like to buy in for?</label>
            <input type="number" name="amount" step="0.01" min="0.01" value="{{ buyin_prefill }}" required>
            <br />

            <input type="submit" value="Buy In">
            <a href="/g/{{ game.id }}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
