{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        <h2>{{ game.lobby_name }}</h2>
    </div>
    <div>
        {% if err %}
        <div class="error">
            {{ err }}
        </div>
        {% endif %}
        {% if cashout_max_cents > 0 %}
        <form action="/game/cashout" method="post">
            <label for="amount">How much would you like to cash out for?</label>
            <input type="number" name="amount" step="0.01" min="0.01" max="{{ cashout_max }}"
                value="{{ cashout_prefill }}" required>
            <br />

            <input type="submit" value="Cash Out">
            <a href="/g/{{ game.id }}">Cancel</a>
        </form>
        {% else %}
        <p>
            You do not have any remaining money to cash out.
            <a href="/g/{{ game.id }}">Cancel</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
