{% extends "layout.html" %}
{% block body %}
<div class="container">
    {% if err %}
    <div class="error">
        {{ err }}
    </div>
    {% endif %}
    <form class="form" action="/game/create" method="post">
        <div class="grid-game-form">
            <label for="lobby-name">Lobby Name:</label>
            <input type="text" id="lobby-name" name="lobby-name" value="{{ lobby_name }}" required>
            <label for="buy-in">Buy In (USD):</label>
            <input type="number" inputmode="decimal" id="buy-in" name="buy-in" min="0.01" step="0.01" value="25.00"
                required>
            <label for="entry-code">Entry Code:</label>
            <input type="text" id="entry-code" name="entry-code" value="{{ entry_code }}" required>
            <label for="payout-type">Payout Mode:</label>
            <select name="payout-type">
                {% for payout_type, name in payout_type_names.items() %}
                <option value="{{ payout_type.value }}" {% if payout_type==selected_payout_type %}selected{% endif %}>
                    {{ name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-buttons">
            <input autofocus type="submit" value="Create Lobby">
            <a class="cancel-btn" href="/">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
