{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        <h2>{{ game.lobby_name }}</h2>
    </div>
    <div>
        {% if err %}
        <div class="error">
            {{ err }}
        </div>
        {% endif %}
        {% if warning %}
        <div class="warn">
            {{ warning }}
        </div>
        {% endif %}
        <p>
            Ending the game will lead to payments being calculated for everyone and prevent changes to how much people
            want to cash out for. This cannot be reversed! Are you sure you want to end the game?
        </p>
        {% if err %}
        <a href="/g/{{ game.id }}">Cancel</a>
        {% else %}
        <form action="/game/end" method="post">
            <input type="submit" value="End Game">
            <a href="/g/{{ game.id }}">Cancel</a>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
