{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        <h2>{{ game.lobby_name }}</h2>
    </div>
    <div>
        {% if err %}
        <div class="error">
            {{ err }}
        </div>
        {% endif %}
        {% if warning %}
        <div class="warn">
            {{ warning }}
        </div>
        {% endif %}
        <p>
            Ending the game will lead to payments being calculated for everyone and prevent changes to how much people
            want to cash out for. <em>This cannot be undone!</em>
        </p>
        <p>
            Are you sure you want to end the game?
        </p>
        {% if err %}
        <a class="cancel-btn" href="/g/{{ game.id }}/">Cancel</a>
        {% else %}
        <form class="form" action="/game/end/{{ game.id }}/" method="post">
            <div class="form-buttons">
                <input type="submit" value="End Game">
                <a class="cancel-btn" href="/g/{{ game.id }}/">Cancel</a>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
