{% extends "layout.html" %}
{% from "game/title.html" import game_title %}
{% block body %}
<div class="container">
    {{ game_title(game) }}
    <div>
        {% if err %}
        <div class="error">
            {{ err }}
        </div>
        {% endif %}
        <form class="form" action="/game/join/{{ game.id }}/" method="post">
            <label for="entry-code">Please enter the entry code for the game:</label>
            <input autofocus type="text" name="entry-code" value="{{ entry_code_prefill }}" required>
            <div class="form-buttons">
                <input type="submit" value="Join Game">
                {% if entry_code_prefill %}
                <a class="cancel-btn" href="/g/{{ game.id }}/?code={{ entry_code_prefill }}">Cancel</a>
                {% else %}
                <a class="cancel-btn" href="/g/{{ game.id }}/">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
