{% extends "layout.html" %}

{% from "game/list_item.html" import game_list_item %}

{% block body %}
<div class="container">
    <div class="game-list-intro">
        <span>Welcome, {{ player.venmo_username }}!</span>
        <form method="post" action="/logout">
            <input type="submit" name="logout" value="Logout">
        </form>
    </div>
    {% if current_game %}
    <div class="info">
        You are currently in {{ current_game.lobby_name }}. <a href="/g/{{ current_game.id }}/">View the game</a>.
    </div>
    {% endif %}
    <div>
        <h2>Active Games</h2>
        {% if active_games|length %}

        <div class="game-list">
            {% for game in active_games %}
            {{ game_list_item(game) }}
            {% endfor %}
        </div>
        {% else %}
        <p>There are currently no active games.</p>
        {% endif %}
    </div>
    {% if not current_game %}
    <div class="game-list-create">
        <form method="get" action="/game/create/">
            <input type="submit" value="Create Game">
        </form>
    </div>
    {% endif %}
    {% if recent_games|length %}
    <div>
        <h2>Recent Games</h2>
        <div class="game-list">
            {% for game in recent_games %}
            {{ game_list_item(game) }}
            {% endfor %}
            <a href="/history/">View All</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
