{% macro venmo_link(player, payment, payment_url, return_game) %}
<div class="venmo-cta">
    <div class="venmo-cta-text">
        {% if payment_url.is_send %}
        {{ payment.amount_text() }} to <a href="https://www.venmo.com/{{ payment.to_player_id }}/">{{ payment.to_player_id }}</a>
        {% else %}
        {{ payment.amount_text() }} from <a href="https://www.venmo.com/{{ payment.from_player_id }}/">{{ payment.from_player_id }}</a>
        {% endif %}
        {% if not return_game %}
        <br />
        <span class="venmo-cta-game"><a href="/g/{{ payment.game_id }}">Game #{{ payment.game_id }}</a></span>
        {% endif %}
    </div>
    <div class="venmo-cta-buttons">
        <a class="venmo-cta-link" href="{{ payment_url.url }}">
            <div>
                {{ 'Send' if payment_url.is_send else 'Request' }}
            </div>
        </a>
        <form class="form" action="/payment/dismiss/{{ payment.id }}" method="post">
            {% if return_game %}
            <input type="hidden" name="return-game" value="{{ return_game }}">
            {% endif %}
            <input class="cancel-btn" type="submit" value="Dismiss" />
        </form>
    </div>
</div>
{% endmacro %}
