{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        <h2>{{ game.lobby_name }}</h2>
        <h4>Created by {{ game.creator_id }}</h4>
        <ul>
            {% if player.active_game_id == game.id or game.creator_id == player.venmo_username %}
            <li><strong>Entry Code</strong>: <code>{{ game.entry_code }}</code></li>
            {% endif %}
            <li><strong>Buyin Total</strong>: {{ buyin_total }}</li>
        </ul>
    </div>
    {% if player %}
    {% if player.venmo_username == game.creator_id %}
    <div id="game-admin-actions">
        <h3>Game Actions</h3>
        <ul>
            <li><a href="/game/end/{{ game.id }}/">End Game</a></li>
        </ul>
    </div>
    {% endif %}
    {% if player.active_game_id == game.id %}
    <div id="game-player-actions">
        <h3>Player Actions</h3>
        <ul>
            <li><a href="/game/buyin/">Buy In</a></li>
            <li><a href="/game/cashout/">Cash Out</a></li>
        </ul>
    </div>
    {% elif not player.active_game_id %}
    <div id="game-player-actions">
        <h3>Player Actions</h3>
        <ul>
            <li><a href="/game/join/{{ game.id }}/">Join Game</a></li>
        </ul>
    </div>
    {% endif %}
    {% endif %}
    <div>
        <h3>Players</h3>
        <ul>
            {% for player in players.players %}
            <li><code>{{ player }}</code></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
