{% extends "layout.html" %}
{% from "game/title.html" import game_title %}
{% from "game/venmo_link.html" import venmo_link %}


{% macro player_item(game, viewing_player, player) %}
<div class="player-item">
    <h3>
        <a href="https://www.venmo.com/{{ player.player_venmo_username }}/">
            {{ player.player_venmo_username }}
        </a>
    </h3>
    <div class="player-info">
        <ul>
            {% if player.buyin_cents > 0 %}
            <li><strong>Bought in</strong>: {{ player.buyin_text() }}</li>
            {% else %}
            <li>Spectating</li>
            {% endif %}
            {% if player.cashout_cents is not none %}
            <li><strong>Cashed out</strong>: {{ player.cashout_text() }}</li>
            {% endif %}
        </ul>
    </div>
    {% if game.is_active and game.creator_id == viewing_player.venmo_username %}
    <div class="player-edit">
        <a href="/game/edit/{{ game.id }}/{{ player.player_venmo_username }}">Edit</a>
    </div>
    {% endif %}
</div>
{% endmacro %}

{% block body %}
<div class="container">
    {% if game.is_active%}
    {% if not player %}
    <div class="info">
        {% if entry_code %}
        Please <a
            href="/login?return=game_view&return_game_id={{ game.id }}&return_game_code={{ entry_code }}">login</a> to
        participate in the game.
        {% else %}
        Please <a href="/login?return=game_view&return_game_id={{ game.id }}">login</a> to participate in the game.
        {% endif %}
    </div>
    {% endif %}
    {% else %}
    <div class="info">
        This game has ended.
    </div>
    {% endif %}
    <div>
        {% for payment, payment_url in payment_and_urls %}
        {{ venmo_link(player, payment, payment_url, game.id) }}
        {% endfor %}
    </div>
    <div>
        {{ game_title(game) }}
        <div class="secondary"><em>Created by <a href="https://venmo.com/{{ game.creator_id }}/">{{ game.creator_id
                    }}</a> on {{ game.human_created_time() }}</em></div>
        <div class="game-qr-code top-gap">
            {% if game_player %}
            <a href="/game/join/{{ game.id }}/?code={{ game.entry_code }}">
                <img src="/game/qrcode/{{ game.id }}?code={{ game.entry_code }}" />
            </a>
            {% else %}
            <a href="/game/join/{{ game.id }}/">
                <img src="/game/qrcode/{{ game.id }}" />
            </a>
            {% endif %}
        </div>
        <ul class="game-header-items">
            {% if game_player %}
            <li><strong>Entry Code</strong>: <a
                    href="/game/join/{{ game.id }}/?code={{ game.entry_code }}"><code>{{ game.entry_code }}</code></a>
            </li>
            {% endif %}
            <li><strong>Buyin</strong>: {{ buyin_amount }}</li>
            <li><strong>Buyin Total</strong>: {{ buyin_total }}</li>
            <li><strong>Cash Out Total</strong>: {{ cashout_total }}</li>
        </ul>
    </div>
    {% if player and game.is_active %}
    {% if player.venmo_username == game.creator_id %}
    <div id="game-admin-actions">
        <h3>Game Actions</h3>
        <ul>
            <li><a href="/game/end/{{ game.id }}/">End Game</a></li>
        </ul>
    </div>
    {% endif %}
    {% if player.active_game_id == game.id %}
    <div id="game-player-actions">
        <h3>Player Actions</h3>
        <ul>
            <li><a href="/game/buyin/">Buy In</a></li>
            {% if game_player.buyin_cents > 0 %}
            <li><a href="/game/cashout/">Cash Out</a></li>
            {% endif %}
        </ul>
    </div>
    {% elif not player.active_game_id %}
    <div id="game-player-actions">
        <h3>Player Actions</h3>
        <ul>
            {% if entry_code %}
            <li><a href="/game/join/{{ game.id }}/?code={{ entry_code }}">Join Game</a></li>
            {% else %}
            <li><a href="/game/join/{{ game.id }}/">Join Game</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% endif %}
    <div>
        <h3>Players</h3>
        <div class="player-list">
            {% for cur_player in players.players %}
            {{ player_item(game, player, cur_player) }}
            {% endfor %}
        </div>
    </div>
    {% if payments %}
    <div class="game-payments">
        <h3>Payments</h3>
        <ul>
            {% for payment in payments %}
            <li>
                <a href="https://www.venmo.com/{{ payment.from_player_id }}/">{{ payment.from_player_id }}</a>
                sends {{ payment.amount_text() }} to
                <a href="https://www.venmo.com/{{ payment.to_player_id }}/">{{ payment.to_player_id }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
