:root {
    --shadow-color: #000;
    --shadow-length: 4px;
    --secondary-color: #b8b8b8;
}

a {
    color: inherit;
}

h1, h2, h3 {
    margin-bottom: 0;
}

@font-face {
    font-family: Archivo;
    src: url('/static/Archivo.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo Semi-Expanded';
    src: url('/static/Archivo_SemiExpanded-SemiBold.ttf') format('truetype');
}

.header a {
    font-family: 'Archivo Semi-Expanded';
    text-decoration: none;
    color: #000;
}

body {
    font-family: Archivo;
    font-size: 1.2em;
    padding: 0;
    background: #dbf1ff;
    line-height: 1.5;
}

ul {
    list-style: square;
}

.secondary {
    color: var(--secondary-color);
}

.form {
    display: grid;
    gap: 1rem;
}

.form-buttons {
    display: flex;
    gap: 1rem;
}

.container {
    padding: 2rem;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
}

.page {
    box-sizing: content-box;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
}

.error {
    background-color: #ef6262;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: 1px solid var(--shadow-color);
    box-shadow: 4px 4px var(--shadow-color);
}

.warn {
    background-color: #f3aa60;
    color: #000;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: 1px solid var(--shadow-color);
    box-shadow: 4px 4px var(--shadow-color);
}

.info {
    background-color: #00d9ff;
    color: #000;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: 1px solid var(--shadow-color);
    box-shadow: 4px 4px var(--shadow-color);
}

.info a {
    color: #000;
}

.grid-game-form {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .grid-game-form {
        grid-template-columns: auto;
    }
}

.venmo-cta {
    outline: 1px solid var(--shadow-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.venmo-cta-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: baseline;
}

@media only screen and (max-width: 800px) {
    .venmo-cta {
        display: grid;
        justify-content: space-evenly;
    }

    .venmo-cta-buttons {
        align-items: baseline;
        justify-items: stretch;
    }
}

.venmo-cta-link {
    background-color: #009cde;
    text-align: center;
    color: #fff;
    padding: 1rem;
    outline: 1px solid var(--shadow-color);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
}

input {
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--shadow-color);
    padding: 0.5rem;
    outline: none;
    border-radius: 0;
}

input:focus {
    box-shadow: 0px 0px 2px #1D5B79;
}

.button, button, input[type=button], input[type=submit] {
    text-decoration: none;
    font-family: inherit;
    padding: 1rem;
    font-size: 1rem;
    outline: 1px solid var(--shadow-color);
    border: none;
    cursor: pointer;
    background-color: var(--shadow-color);
    color: #fff;
    transition: transform 100ms ease, background-color 200ms ease;
    transform: none;
    border-radius: 0;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #2d2d2d;
}

button:active, input[type=button]:active, input[type=submit]:active {
    transform: translateY(4px);
}

.cancel-btn {
    padding: 1rem;
    font-size: 1rem;
    color: var(--shadow-color);
    outline: 1px solid var(--shadow-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: transform 100ms ease, background-color 200ms ease;
}

.cancel-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cancel-btn:active {
    transform: translateY(4px);
}

.game-list-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-view-id {
    font-weight: 100;
    text-decoration: none;
    font-style: italic;
}

.game-list, .player-list {
    display: grid;
    gap: 0.5rem;
}

.game-list-item, .player-item {
    padding: 0.5rem;
    color: var(--shadow-color);
    outline: 1px solid var(--shadow-color);
    text-decoration: none;
    background-color: #fff;
    transition: background-color 200ms ease;
}

.game-list-item:hover, .player-item:hover {
    background-color: #eee;
}

.game-list-item h3, .player-item h3 {
    text-decoration: none;
    font-weight: 100;
    margin-top: 0;
}

.game-info, .player-info {
    font-size: 0.9rem;
}

.game-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.player-info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.game-payments ul {
    margin: 0;
}

.game-list-create {
    display: grid;
    margin-top: 1rem;
}

.top-gap {
    padding-top: 0.5rem;
}

.game-title {
    margin-top: 0;
}

.game-qr-code {
    text-align: center;
}

.game-qr-code img {
    max-width: 8rem;
}

.game-header-items {
    margin: 0;
}

.player-edit a {
    font-size: 0.9rem;
}
